body {
    background: #fcefd4;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f80a5d;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: brown;
}

#mainNavbar .nav-link:hover {
    color: #fff;
}

#mainNavbar .navbar-brand {
    color: rgb(243, 141, 8);
    font-size: 1.5rem;
}

#headingGroup span {
    color: yellow;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3.5rem;
    color: brown;
}

.navbar.scrolled {
    background: rgba(236, 136, 215, 0.322);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




